body{
	margin: 0;
}
#container{
	margin: 0 auto;
	width: 1000px;
}
#header{
	background-color: grey;
	height: 100px;
	text-align: center;
	padding: 10px;
}
#navbar{
	border: 1px solid grey;
	height: 30px;
	padding-top: 10px;
	padding-left: 10px;  
}
#main-content{
	border: 1px solid grey;
	height: 700px;
	width: 700px;
	float: left;
	padding: 20px;
}
#right-content{
	border: 1px solid grey;
	height: 700px;
	width: 200px;
	float: right;
	padding: 20px;

}
#footer{
	height: 40px;
	clear: both;
	text-align: center;
	padding: 40px;
}

#img{
	height: 400px;
	width: 500px;
}